<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.MA.LAC"/>
        <package android:name="com.MA.LACD"/>
        <package android:name="com.MA.LACM"/>
        <package android:name="com.MA.LACMB"/>
    </queries>

    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.LACMapTool"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.aliernfrog.lactool.SplashActivity" android:exported="true" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aliernfrog.lactool.MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.aliernfrog.lactool.MapsActivity" android:exported="true" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.aliernfrog.lactool.MapsMergeActivity" android:exported="true" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.aliernfrog.lactool.MapsOptionsActivity" android:exported="true" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.aliernfrog.lactool.MapsRolesActivity" android:exported="true" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.aliernfrog.lactool.RestoreActivity" android:exported="true" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.aliernfrog.lactool.WallpaperActivity" android:exported="true" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.aliernfrog.lactool.ScreenshotsActivity" android:exported="true" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.aliernfrog.lactool.FilePickerActivity" android:exported="true" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.aliernfrog.lactool.OptionsActivity" android:exported="true" android:windowSoftInputMode="adjustResize" />

        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>